<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>/* 页脚与头图透明 */
#footer {
    background: transparent !important;
  }
#page-header {
    background: transparent !important;
  }
  
  /* 白天模式遮罩透明 */
#page-footer::before {
  background: transparent !important;
  }
#page-header::before {
  background: transparent !important;
  }
  
  /* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
  }
[data-theme="dark"] #page-header::before {
    background: transparent !important;
  }

  /* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px var(--theme-color) !important;
}
  
/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px var(--theme-color) !important;
}
